<main class="mainPrincipal">
  <h1>Gryffindor</h1>
  <p><strong>
    Gryffindor é uma das quatro casas da Escola de Magia e Bruxaria de Hogwarts. Fundada por Godric Gryffindor, essa casa valoriza a coragem, a determinação e a bravura. Os alunos da Gryffindor são conhecidos por sua audácia e pela disposição de enfrentar desafios, muitas vezes liderando com o exemplo. O lema da casa é "Ousadia e Coragem", refletindo a crença de que os bravos têm um lugar especial em seu seio. A mascote da Gryffindor é o leão, e suas cores são vermelho e dourado. Os membros da Gryffindor tendem a ser justos e protetores, buscando a justiça e a retidão em suas ações.
  </strong> </p>
  <footer>
    <h2>Conheça as casas</h2>
    <button routerLink="/gryffindor" mat-raised-button class="gryffindor">Gryffindor</button>
    <button routerLink="/hufflepuff" mat-raised-button class="hufflepuff">Hufflepuff</button>
    <button routerLink="/ravenclaw" mat-raised-button class="ravenclaw">Ravenclaw</button>
    <button routerLink="/slytherin" mat-raised-button class="slytherin">Slytherin</button>
  </footer>
</main>