<main class="mainPrincipal">
    <h1>Slytherin</h1>
    <p><strong>
      Slytherin é outra das quatro casas de Hogwarts, fundada por Salazar Slytherin. A casa valoriza a astúcia, a ambição e a determinação. Os alunos da Slytherin são frequentemente associados à ambição e à busca do poder, muitas vezes buscando o sucesso a qualquer custo. O lema da casa é "Astúcia e Ambição", refletindo a crença de que os mais espertos são os que alcançam o topo. A mascote da Slytherin é a cobra, e suas cores são verde e prata. Os membros da Slytherin tendem a ser engenhosos e perspicazes, muitas vezes utilizando a diplomacia e a sagacidade para alcançar seus objetivos.
    </strong> </p>
    <footer>
      <h2>Conheça as casas</h2>
      <button routerLink="/gryffindor" mat-raised-button class="gryffindor">Gryffindor</button>
      <button routerLink="/hufflepuff" mat-raised-button class="hufflepuff">Hufflepuff</button>
      <button routerLink="/ravenclaw" mat-raised-button class="ravenclaw">Ravenclaw</button>
      <button routerLink="/slytherin" mat-raised-button class="slytherin">Slytherin</button>
    </footer>
  </main>