.mainPrincipal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: url('../../assets/Slytherin.jpg');
    min-height: 100vh;
    height: auto;
    background-size: cover;
    background-position: center;
}
h1{
    font-size: 3rem;
    padding: 4rem;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 700;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}

p{
    font-size: 1.375rem;
    width: 80%;
    text-align: center;
    line-height: 2.5rem;
    padding: 2.5rem;
    background-color: rgba(0, 0, 0, 0.486);
    border-radius: 1.25rem;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}

footer{
    text-align: center;
}

h2{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 1.6rem;
    font-weight: 700;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.486);
    border-radius: 1.25rem;
}
.mat-mdc-raised-button.mat-unthemed{
    border-radius: 20px;
    border: 2px solid #000;
    box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.40);
    padding: 0.6rem;
    width: 170px;
    height: 43px;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
    margin: 1rem;
}

.gryffindor.mat-mdc-raised-button.mat-unthemed{
    background-color:#740001;
}

.hufflepuff.mat-mdc-raised-button.mat-unthemed{
    background-color: #e7a518;
}

.ravenclaw.mat-mdc-raised-button.mat-unthemed{
    background-color: #000080;
}

.slytherin.mat-mdc-raised-button.mat-unthemed{
    background-color: #2E8B57;
}