<main class="mainPrincipal">
    <h1>Ravenclaw</h1>
    <p><strong>
      Ravenclaw é uma das casas de Hogwarts fundada por Rowena Ravenclaw. A casa valoriza a sabedoria, a inteligência e a criatividade. Os alunos da Ravenclaw são conhecidos por sua busca pelo conhecimento e pela curiosidade intelectual. O lema da casa é "Sabedoria e Criatividade", enfatizando a importância do aprendizado constante e da inovação. A mascote da Ravenclaw é a águia, e suas cores são azul e bronze. Os membros da Ravenclaw tendem a ser pensadores analíticos e apreciadores das artes, muitas vezes se destacando em disciplinas acadêmicas e criativas.
    </strong> </p>
    <footer>
      <h2>Conheça as casas</h2>
      <button routerLink="/gryffindor" mat-raised-button class="gryffindor">Gryffindor</button>
      <button routerLink="/hufflepuff" mat-raised-button class="hufflepuff">Hufflepuff</button>
      <button routerLink="/ravenclaw" mat-raised-button class="ravenclaw">Ravenclaw</button>
      <button routerLink="/slytherin" mat-raised-button class="slytherin">Slytherin</button>
    </footer>
  </main>