<main class="mainPrincipal">
    <h1>Hufflepuff</h1>
    <p><strong>
      Hufflepuff é uma das quatro casas de Hogwarts, fundada por Helga Hufflepuff. A casa valoriza a lealdade, a paciência e o trabalho árduo. Os alunos da Hufflepuff são conhecidos por sua natureza gentil e sua disposição para ajudar os outros. O lema da casa é "Lealdade e Paciência", refletindo a importância de cuidar dos amigos e persistir diante das dificuldades. A mascote da Hufflepuff é o texugo, e suas cores são amarelo e preto. Os membros da Hufflepuff tendem a ser compassivos e atenciosos, muitas vezes desempenhando papéis de apoio e demonstrando empatia com os outros.
    </strong> </p>
    <footer>
      <h2>Conheça as casas</h2>
      <button routerLink="/gryffindor" mat-raised-button class="gryffindor">Gryffindor</button>
      <button routerLink="/hufflepuff" mat-raised-button class="hufflepuff">Hufflepuff</button>
      <button routerLink="/ravenclaw" mat-raised-button class="ravenclaw">Ravenclaw</button>
      <button routerLink="/slytherin" mat-raised-button class="slytherin">Slytherin</button>
    </footer>
  </main>