<main class="mainPrincipal">
    <h1>Hogwarts - Escola de Magia e Bruxaria</h1>
    <p><strong>
      Hogwarts é uma instituição lendária que oferece uma educação única e enriquecedora para jovens bruxos e bruxas. Localizada na majestosa paisagem escocesa, a imponente arquitetura do castelo abriga quatro casas distintas - Grifinória, Sonserina, Corvinal e Lufa-Lufa - cada uma representando valores e habilidades singulares. Os alunos mergulham em um currículo diversificado, aprendendo desde Poções e Feitiços a Matérias das Trevas e Encantamentos. Além das aulas, atividades como o esporte mágico Quadribol e excursões encantadas enriquecem a experiência dos estudantes. Hogwarts não é apenas uma escola, mas um ambiente onde a magia se entrelaça com a educação, preparando jovens bruxos para um mundo de descobertas e desafios.
    </strong> </p>
    <footer>
      <h2>Conheça as casas</h2>
      <button routerLink="/gryffindor" mat-raised-button class="gryffindor">Gryffindor</button>
      <button routerLink="/hufflepuff" mat-raised-button class="hufflepuff">Hufflepuff</button>
      <button routerLink="/ravenclaw" mat-raised-button class="ravenclaw">Ravenclaw</button>
      <button routerLink="/slytherin" mat-raised-button class="slytherin">Slytherin</button>
    </footer>
  </main>